.product-wrapper{
	max-Width: 250px;
	 margin: 0 auto;
}

.product__body{
	padding:8px;
	margin:0 auto;
}
.card {
	border:0;
}
.img__product{
	border-radius: 50%;
	max-width:200px;
	width:90%;
}

.radius__card{
	border-radius:50%;
	background-color: green;
	max-width: 200px;
	margin: 0 auto;
	width:33%;
	
}

.radius__card:hover{
  border-color: grey;
  border-width: 8px;
  border-style: solid;
}

.card-footer{
	background-color: white!important;
	border:0!important;
}