.title-bar-ligth {
    background-color: #3e8374!important;
    padding: 50px!important;
    color: rgb(18, 16, 16)!important;
    font-size: 2rem!important;
    text-align: center!important;
    position: relative!important;
  
  }

  .title-bar-dark {
    background-color: #000706;
    padding: 50px;
    color: white;
    font-size: 2rem;
    text-align: center;
    position: relative;
  
  }